* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    background: #7d7979;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: unset;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #030303;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
}

nav a:hover {
    /*background: #c8cbce;*/
    color: #1a33ac;
}

.links > li {
    padding: 0 10px;
}

img {
    width: 10px;
    height: 15px;
}

.logoTag {
    flex-basis: 10%;
}

.socialLinks {
    flex-basis: 2%;
}