body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
/*#fa8e8e*/
.message-error {
    color: #783b3b;
    border-style: groove ;
    background-color: #fccdcd;
    margin: 10px 50px 10px 50px;
    padding: 10px;
    border-radius: 5px;
}

.message-warning {
    color: #7d712a;
    border-style: groove ;
    background-color: #fcf2cd;
    margin: 10px 50px 10px 50px;
    padding: 10px;
    border-radius: 5px;
}

.message-success {
    color: #3f7b43;
    border-style: groove ;
    background-color: #d6faca;
    margin: 10px 50px 10px 50px;
    padding: 10px;
    border-radius: 5px;
}

.message-info {
    color: #1a33ac;
    border-style: groove ;
    background-color: #cdd5fc;
    margin: 10px 50px 10px 50px;
    padding: 10px;
    border-radius: 5px;
}